<div class="currency-control">
  <div class="currency-control__currency-container" [formGroup]="currencyControl">
    <ng-select formControlName="select" class="currency-control__currency-select" [clearable]="false">
      <ng-option class="currency-control__currency-option"
        *ngFor="let item of currencies" [value]="item">{{ item }}</ng-option>
    </ng-select>
    <input type="number" formControlName="input" class="currency-control__currency-input" placeholder="Enter value...">
  </div>
</div>
